.movies__Cntr {
  width: 100%;
}

.containerBtn {
  font-size: 0.8rem;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.btn__icon {
  position: absolute;
  right: 0.8rem;
  top: 1.5rem;
}

.title {
  font-size: 2em;
  font-weight: 500;
  font-family: $poppin;
}

.bntReset {
  width: 11rem;
  text-align: left;
  letter-spacing: 0.05rem;
  font-size: 1.6em;
  border: none;
  padding: 0.7em 0.3em;
  border-radius: 0.5rem;
  background-color: $movieBtn;
  color: $white;
  cursor: pointer;
  font-weight: 500;
  font-family: $poppin;
}

.section__card {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  @media (min-width: 22em) {
    padding: 0 0.5rem;
  }
  @media (min-width: 62em) {
    display: grid;
    grid-template-columns: auto auto;
  }
}
