.grid__movies {
  width: 100%;
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
  gap: 0.8rem;
  position: relative;
  @media (min-width: 22em) {
    grid-template-columns: repeat(3, auto);
  }
  @media (min-width: 80em) {
    grid-template-columns: repeat(4, auto);
  }
  // @media (min-width: 79em) {
  //   grid-template-columns: repeat(5, auto);
  // }
  // // @media (min-width: 90em) {
  //   grid-template-columns: repeat(4, auto);
  //   gap: 1.5rem;
  // }
}
