//Default
$black: #000;
$white: #fff;
$background: #fff;

//BACKGROUND
$header: #000;
$container: rgb(212, 208, 208);
$menuMobile: #000;
$movieBtn: rgb(26, 95, 245);

$black-trans: rgba(0, 0, 0, 0.527);
